.dropzone {
    margin-bottom: 1rem;
    border: 2px dashed var(--border-color);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
  }
  
  .dropzone.active {
    border-color: var(--primary-color);
  }
  
  .dropzone:hover {
    border-color: var(--hover-border-color);
  }
  
  .dropzone p {
    margin: 0;
    color: var(--secondary-color);
  }
  
  /* Dark theme styles */
  @media (prefers-color-scheme: dark) {
    .dropzone {
      background-color: var(--background-secondary);
      border-top: 1px solid var(--border-color);
      transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    }
  
    .dropzone.active {
      background-color: rgba(var(--primary-color-rgb), 0.1);
    }
  
    .dropzone p {
      color: var(--secondary-color); /* Ensure text color is appropriate for dark theme */
    }
  }